@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
    background: whitesmoke;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background: white;
    padding: 25px;
    width: 550px;
    border-radius: 10px;
  }

 
   ul li {
    list-style: none;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    background: whitesmoke;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    background: yellow;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
    color: black;
  }
  
  .todo-button{
    background-color: red;
  }

button {
  background: whitesmoke;
  border-radius: 5px;
  width: 50px;
  border: 5px;
}
